
h1{
    color: antiquewhite;
    margin-left: 2%;
}

#charClass{
    position:absolute;
    background-color: #FFE4CD;
    margin-left: 50%;
    transform: translateX(-51%);
    border:.2em dashed #ff8c69;
    font-size: 1.5em;
    width:750px;
}

input{
    background-color: pink;
    width: 500px;
    height: 30px;
    text-align: center; 
}

.regexHeading{
    color:red;
}

#inputArea{
    position: absolute;
    top:65%;
    transform: translateX(-45%);
}

body{
    background-color: grey;
    border:2em inset #E77200;
    border-style: hidden double none;
    height: 100vh;
    border-left:2em double #E97451;
    border-right:2em double #E97451;
}

#translatedArea{
    position: absolute;
    top:75%;
    margin-left:25%;
    transform: translateX(-50%);
    font-size: 2em;
    color: white;
}

.entries span{
    color: #253529;
    font-size: 1.5em;
}

.entries span:nth-child(2n){
    color: black;
    font-size: 18px;
}
.regexHeading{
    color: black;
}

#headingTop{
    color: white;
}

#bottomDiv{
    background-color: white;
    z-index: 0;
    position: absolute;
    bottom:0;
    height: 18vh;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);

}

#resetButton{
    background-color: #FFDB00;
    margin-left: 2%;
    font-size: 2em;
    border-radius: 15%;
    color: #832A0D;
}